@import 'libs/hotcss/px2rem';

.agency-warp {
  display: flex;
  padding-left: 11*$hd;
  height: 77*$hd;
  background-color: #fff;
  margin-top: 1*$hd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .bg-cover {
    width: 55*$hd;
    height: 55*$hd;
    background-size: contain;
    border-radius: 50%;
  }
  .agency-content {
    max-width: 220*$hd;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10*$hd;
    font-size: 18*$hd;
    color: #494949;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .chat-people {
    border-left: 1*$hd solid #F6F6F6;
    height: 100%;
    width: 79*$hd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10*$hd;
    color: #939393;
    //      border: 1px solid red;
    .icon-chat {
      width: 32*$hd;
      height: 32*$hd;
      background: url('/static/images/icon/icon_chat_people.png') no-repeat center;
      background-size: contain;
      margin-bottom: 6*$hd;
    }
  }
  .chat-someone {
    border-left: 1*$hd solid #F6F6F6;
    height: 100%;
    width: 79*$hd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10*$hd;
    color: #939393;
    .icon-chat {
      width: 32*$hd;
      height: 32*$hd;
      background: url('/static/images/match/icon_agency_chat.png') no-repeat center;
      background-size: contain;
      margin-bottom: 6*$hd;
    }
  }
}
