@import 'libs/hotcss/px2rem';

.operate-warp {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
}

.operate-item {
  margin: 10*$hd 20*$hd;
  height: 50.8*$hd;
  font-size: 18*$hd;
  text-align: center;
  color: #FFFFFF;
  background: #FF6121;
  border-radius: 5*$hd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operate-button {
  width: 18*$hd;
  height: 22*$hd;
  margin-right: 7*$hd;
  background-repeat: no-repeat;
  background-size: contain;
}