{
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
        }
      }
    ]
  ],
  "presets": [
    [
      "next/babel",
    ]
  ],
  "ignore": []
}
