{
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
        }
      }
    ],
    [
      "transform-assets-import-to-string",
      {
        "baseDir": "static",
        "baseUri": "/"
      }
    ],
    [
      "transform-define",
      "./config/env-config.js"
    ]
  ],
  "presets": [
    [
      "next/babel"
    ]
  ],
  "ignore": []
}
