# Created by .ignore support plugin (hsz.mobi)
node_modules
.next
.idea
temp
libs/antd/**.js
libs/antd/**.ts
nginx.conf
dist
config/settings.js
config/privateSettings.js
pages/uitest/*
.exportrc
build.tar.bz2