@import 'libs/hotcss/px2rem';

$indicatorH: 30*$hd;

.am-pull-to-refresh-down .am-pull-to-refresh-indicator {
  margin-top: -$indicatorH
  //margin-top: 0
}

.am-pull-to-refresh-indicator {
  height: $indicatorH;
  font-size: $indicatorH * 0.6;
  line-height: $indicatorH;
  .am-icon-loading {
    margin-top: $indicatorH * 0.15;
    width: $indicatorH * 0.7;
    height: $indicatorH * 0.7;
  }
}