@import 'libs/hotcss/px2rem';
@import "components/ui/form/config";

//.am-list-item.am-input-item {
//  padding-left: 0;
//}

.am-input-item {
  :global(.am-list-line) {
    padding-right: 15*$hd;
  }
  :global(.am-input-label) {
    color: $item-color;
    font-size: $item-font-size;
  }

  &:global(.am-input-disabled) :global(.am-input-label){
    color: $item-color;
  }

  :global(.am-input-control input:disabled) {
    background-color: transparent;
    opacity: 1;
  }

  :global(.am-input-control input::placeholder) {
    @include input-placeholder
  }

  :global(.am-input-control input) {
    @include input
  }
}