@import 'libs/hotcss/px2rem';

@mixin oneline() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-item {
  height: 50*$hd;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  border-bottom: 0.3*$hd solid #D8D8D8;
  .left {
    width: 330*$hd;
    display: flex;
    align-items: center;
    .name {
      font-size: 14*$hd;
      color: #727272;
      max-width: 290*$hd;
      padding-left: 10*$hd;
      @include oneline;
    }
    .status {
      font-size: 8*$hd;
      color: #FF6628;
      border: 1px solid #FF6628;
      border-radius: 2px;
      padding: 2*$hd 8*$hd;
      margin-left: 5*$hd;
    }
  }
  .take-in {
    font-size: 10*$hd;
    //color: #FDFCFC;
    color: #FF6628;
    //background: #FF6628;
    border-radius: 25*$hd;
    border:1*$hd solid #FF6628;
    padding: 3*$hd 10*$hd;
    margin-left: 10*$hd;
  }
}
