@import 'libs/hotcss/px2rem';

.bg-cover {
  overflow: hidden;
  height: 115*$hd;
  width: 191*$hd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bg-cover-icon {
  height: 59*$hd;
  width: 59*$hd;
  border-radius: 50%;
  display: block;
  margin-left: 66*$hd;
  margin-top: 28*$hd;
  background: url('/static/images/icon/icon_default_play.png') no-repeat center;
  background-size: contain;
}