@import 'libs/hotcss/px2rem';

.auth-ui-input {
  border-bottom: 1*$hd solid #dbdbdb;
  &:last-child{
    border-bottom: none;
  }
  .am-list-item.am-input-item{
    padding-left: 0;
    height: 54*$hd;
  }
  .am-list-item .am-list-line{
    font-size: 16*$hd;
    padding: 0.375em 0.625em;
  }
}