@import 'libs/hotcss/px2rem';

@mixin oneline() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-item-wrapper {
  width: 100%;
  font-size: 16*$hd;
  background: #fff;
  overflow: hidden;
  .group-item {
    height: 71*$hd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10*$hd 16*$hd 0;
    background: #F6F6F6;
    border: 1*$hd solid #DFDFDF;
    padding-left: 35*$hd;
    padding-right: 17*$hd;
    .price {
      font-size: 20*$hd;
      color: #FF6628;
      width: 90*$hd;
      text-align: left;
      @include oneline;
    }
    .title {
      font-size: 18*$hd;
      color: #323232;
      width: 178*$hd;
      text-align: left;
      @include oneline;
    }
    .sign {
      width: 61*$hd;
      height: 47*$hd;
      background: url("/static/images/match/icon_default_match_take_will.png") no-repeat center;
      background-size: 61*$hd 47*$hd;
    }
  }
  &:last-child {
    .group-item {
      margin: 10*$hd 16*$hd;
    }
  }
}
