@import 'libs/hotcss/px2rem';

@mixin oneline() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-item {
  height: 34*$hd;
  line-height: 34*$hd;
  width: 100%;
  background: #FFFFFF;
  padding-left: 8*$hd;
  .title {
    font-size: 14*$hd;
    color: #333333;
  }
}

.line {
  height: 0.3*$hd;
  background-color: #D8D8D8;
  margin-top: -0.3*$hd;
}
