@import 'libs/hotcss/px2rem';

@mixin oneline(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-item {
  height: 70*$hd;
  width: 100%;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 10*$hd;
  .avatar{
    width: 50*$hd;
    height: 50*$hd;
    border-radius: 50%;
    border:1px solid red;
  }
  .content{
    margin-left: 14*$hd;
    font-size: 13*$hd;
    & >div{
      width: 320*$hd;
      @include oneline;
    }
    .name{
      font-size: 15*$hd;
      color: #333333;
    }
    .describe{
      color: #999999;
    }
    .place{
      color: #FFB32D;
    }
  }
}
