@import 'libs/hotcss/px2rem';

@mixin input-placeholder {
  direction: rtl;
  color: #bbb;
}

@mixin input {
  direction: rtl;
}

.am-list-item .am-input-control input::placeholder {
  @include input-placeholder
}

.am-list-item .am-textarea-control textarea::placeholder {
  @include input-placeholder
}

.am-list-item .am-input-control input {
  @include input
}

.am-list-item .am-textarea-control textarea {
  @include input
}
