@import 'libs/hotcss/px2rem';

@mixin oneline(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-item {
  height: 40*$hd;
  font-size: 14*$hd;
  color: #43484B;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 20*$hd;
  margin-top: 1*$hd;
  .avatar{
    width: 19*$hd;
    height: 30*$hd;
    border:1px solid red;
  }
  .detail{
    width: 280*$hd;
    margin: 0 20*$hd;
    @include oneline;
    font-size: 10*$hd;
    color: #ACAAAA;
  }
  .tag{
    width: 8*$hd;
    height: 14*$hd;
    background: url("/static/images/match/icon_default_tag_right.png") no-repeat center;
    background-size: 8*$hd 14*$hd;
  }
}
