@import 'libs/hotcss/px2rem';

.title {
  font-size: 20*$hd;
  text-align: center;
  position: relative;
}

.back {
  position: absolute;
  height: 100%;
  padding-right: 20*$hd;
  &:before {
    content: '';
    display: block;
    width: 14*$hd;
    height: 100%;
    background: url(/static/images/icon/icon_default_back.png) no-repeat center;
    background-size: contain;
  }
}